@using System.Collections

@{
    ViewBag.Title = "Enrollment";
}
<h2>Course Enrollment for Students</h2>

@using (Html.BeginForm())
{
    @Html.Display("Student List")
    @Html.DropDownList("Student", (IEnumerable<SelectListItem>)ViewBag.students, "Select Student")
    @Html.Display("Available Course")
    @Html.DropDownList("courses", "Select Course");

    <form>

    </form>


}