 
@{
    ViewBag.Title = "Home Page";
   
}

<div class="jumbotron">
    <h1>Online School Management</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Online School Management</h2>
        <p>An online school you can trust on us to accomplish your goal from any where in the world.</p>
    </div>
    <div class="col-md-4">
        <h2>Easy Registration</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.onlineschoolmanagement.edu/">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>24/7 Report Generation</h2>
        <p>You can download the complete reports.</p>
        <p><a class="btn btn-default" href="https://www.onlineschoolmanagement.edu/gradereports">Generate Reports &raquo;</a></p>
    </div>
</div>  
    
    
    
    