
@{
    ViewBag.Title = "ChildActionOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChildActionOnly</h2>

<ul>
    @foreach (string s in Model)
    {
        <li>
            @s
        </li>
    }
</ul>

