@using SchoolSystem.DbModels.Model
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IPagedList<SchoolSystem.MVC.Models.Instructor>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {

            alert($(this).val());

            debugger;
           $.ajax(
               {
                   // url can be Controller/View or Controller. This is a Controller name 
                   url: "findByLastName", 

                   //GET b/c display the records(data) returned by the findByLastName matching the search
                   type: "GET",

                   //we need to pass value for findByLastName method by reading it from the text box ,in this case using the id
                   // searchLastName is a parameter name in the findByLastName method and it has to match

                   data: { searchLastName: $("#txtSearchByLastName").val() }  // , dataType:'json'
               
                })// the above method will create an object once the above is returned eg. bill is the string returned it will replace the table totally.
                .done(function (data) {$("#tblContainer").html(data);
/*

                }).success(function(data) {
                    $("#tblContainer").html(data);

                }).error(function(response, status, xhr) {
                    $('#tblContainer').html(xhr.statusMessage);
                });*/
        });
    });
</script>

<input  type="text" id="txtSearchByLastName" placeholder="Enter last name" aria-label="Search" />
<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
@*</form>*@
@Html.ActionLink("Add Instructor", "Create")
Number of lists on page: @Enumerable.Count(Model)

@Html.Partial("PartialList", Model)

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page
       // ,searchBy = Request.QueryString["searchBy"] // searchBy
       // ,search = Request.QueryString["search"]
    }))




