@*@using SchoolSystem.DbModels.Model*@
@using PagedList
@using PagedList.Mvc

@model IPagedList<SchoolSystem.MVC.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table" style="font-size: 12px">
    <p>
        @Html.ActionLink("Add Student", "Create")
        // Mule add header here
    </p>
    
        @Html.Partial("PartialViewStudent", Model)
    

</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new{page}))





